<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vortal Plus</title>
    <link rel="stylesheet" href="/css/comingsoon.css">
    <link rel="icon" href="/img/MiniLogo.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
<div class="mainBody">
<a href="https://www.vortexgroup.co.uk/"><img src="/img/VortalLogo.png" alt="vortalLogo" class="logoCenter" ></a>
<h1>Currently Working on a fix</h1>
</div>
  </body>
</html>
